<ion-header>
  <ion-toolbar>
    <ion-title>Edit Seat {{ seatNumber }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="facilitiesForm" c>
    <ion-list>
      <p>Select the facilities available for this specific seat.</p>
      @for (option of facilityOptions; track option.value) {
        <ion-item lines="none">
          <ion-checkbox [formControlName]="option.value" [labelPlacement]="'end'">{{ option.label }}</ion-checkbox>
        </ion-item>
      }
    </ion-list>
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button (click)="save()" color="primary" [disabled]="facilitiesForm.pristine">
        <ion-icon slot="start" name="save-outline"></ion-icon>
        Save
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()" color="danger">Cancel</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
