.history-item {
  --inner-padding-end: 0;
  --padding-start: 0;
  position: relative;
  padding-left: 20px; // Space for the timeline

  // Timeline dot
  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 10px;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: var(--ion-color-success);
    border: 2px solid var(--ion-color-success-tint);
  }

  // Timeline vertical line
  &:not(:last-child)::after {
    content: '';
    position: absolute;
    left: 5px;
    top: 24px;
    bottom: -10px;
    width: 2px;
    background-color: var(--ion-color-step-200);
  }

  .item-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    p {
      font-size: 0.8rem;
      margin: 0.25rem 0;
    }
  }

  .status {
    color: var(--ion-color-success);
  }
}
