<ion-card class="registration-section-card">
  <h2 class="section-title">{{ pageTitle }}</h2>
  <p class="section-subtitle">{{ sectionDescription }}</p>

  @if (basicInfoForm.invalid && basicInfoForm.touched) {
    <div class="ion-padding-start ion-padding-end glass-box warning-glass-box">
      <ion-icon name="warning-outline" color="warning"></ion-icon>
      <ion-note color="warning">
        {{ completionWarning }}
      </ion-note>
    </div>
  }
  <form [formGroup]="basicInfoForm">
    <ion-item lines="none">
      <ion-label position="stacked">
        {{ libraryNameLabel }}
        <span class="required-star">*</span>
      </ion-label>
      <ion-input
        [placeholder]="libraryNamePlaceholder"
        formControlName="libraryName"
        [class.ion-invalid]="libraryName?.invalid && libraryName?.touched"
        errorText="{{ requiredFieldError }}"
      ></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="stacked">
        {{ addressLine1Label }}
        <span class="required-star">*</span>
      </ion-label>
      <ion-input
        [placeholder]="addressLine1Placeholder"
        formControlName="addressLine1"
        [class.ion-invalid]="addressLine1?.invalid && addressLine1?.touched"
        errorText="{{ requiredFieldError }}"
      ></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="stacked">
        {{ addressLine2Label }}
      </ion-label>
      <ion-input
        [placeholder]="addressLine2Placeholder"
        formControlName="addressLine2"
        [class.ion-invalid]="addressLine2?.invalid && addressLine2?.touched"
        errorText="{{ requiredFieldError }}"
      ></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="stacked">
        {{ cityLabel }}
        <span class="required-star">*</span>
      </ion-label>
      <ion-input
        [placeholder]="cityPlaceholder"
        formControlName="city"
        [class.ion-invalid]="city?.invalid && city?.touched"
        errorText="{{ requiredFieldError }}"
      ></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="stacked">
        {{ stateLabel }}
        <span class="required-star">*</span>
      </ion-label>
      <ion-input
        [placeholder]="statePlaceholder"
        formControlName="state"
        [class.ion-invalid]="state?.invalid && state?.touched"
        errorText="{{ requiredFieldError }}"
      ></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="stacked">
        {{ zipCodeLabel }}
        <span class="required-star">*</span>
      </ion-label>
      <ion-input
        type="number"
        [placeholder]="zipCodePlaceholder"
        formControlName="zipCode"
        [class.ion-invalid]="zipCode?.invalid && zipCode?.touched"
        errorText="Please enter a valid 6-digit zip code."
      ></ion-input>
    </ion-item>

    <ion-list>
      <ion-radio-group formControlName="genderCategory">
        <ion-list-header>
          <ion-label>
            {{ genderCategoryLabel }}
            <span class="required-star">*</span>
          </ion-label>
        </ion-list-header>

        @for (option of genderCategoryOptions; track option.value) {
          <ion-item lines="none">
            <ion-radio [value]="option.value">
              <strong>{{ option.label }}</strong>
              <p>{{ option.description }}</p>
            </ion-radio>
          </ion-item>
        }
      </ion-radio-group>
    </ion-list>

    <ion-item lines="none">
      <ion-label position="stacked">
        {{ operatingHoursLabel }}
        <span class="required-star">*</span>
      </ion-label>
      <ion-input
        [placeholder]="operatingHoursPlaceholder"
        formControlName="operatingHours"
        [class.ion-invalid]="operatingHours?.invalid && operatingHours?.touched"
        errorText="{{ requiredFieldError }}"
      ></ion-input>
      <ion-note slot="helper">{{ operatingHoursHelper }}</ion-note>
    </ion-item>
  </form>
</ion-card>
