<ion-card class="registration-section-card">
  <h2 class="section-title">{{ pageTitle }}</h2>
  <p class="section-subtitle">{{ sectionDescription }}</p>

  @if (basicInfoForm.invalid && basicInfoForm.touched) {
    <div class="ion-padding-start ion-padding-end glass-box warning-glass-box">
      <ion-icon name="warning-outline" color="warning"></ion-icon>
      <ion-note color="warning">
        {{ completionWarning }}
      </ion-note>
    </div>
  }
  <form [formGroup]="basicInfoForm">
    <ion-input
      class="ion-margin-top"
      labelPlacement="floating"
      fill="outline"
      label="{{ libraryNameLabel }} *"
      formControlName="libraryName"
      [placeholder]="libraryNamePlaceholder"
      [class.ion-invalid]="libraryName?.invalid && libraryName?.touched"
      errorText="{{ requiredFieldError }}"
    ></ion-input>

    <ion-input
      class="ion-margin-top"
      labelPlacement="floating"
      fill="outline"
      label="{{ addressLine1Label }} *"
      formControlName="addressLine1"
      [placeholder]="addressLine1Placeholder"
      [class.ion-invalid]="addressLine1?.invalid && addressLine1?.touched"
      errorText="{{ requiredFieldError }}"
    ></ion-input>

    <ion-input
      class="ion-margin-top"
      labelPlacement="floating"
      fill="outline"
      label="{{ addressLine2Label }}"
      formControlName="addressLine2"
      [placeholder]="addressLine2Placeholder"
      [class.ion-invalid]="addressLine2?.invalid && addressLine2?.touched"
      errorText="{{ requiredFieldError }}"
    ></ion-input>

    <ion-input
      class="ion-margin-top"
      labelPlacement="floating"
      fill="outline"
      label="{{ cityLabel }} *"
      formControlName="city"
      [placeholder]="cityPlaceholder"
      [class.ion-invalid]="city?.invalid && city?.touched"
      errorText="{{ requiredFieldError }}"
    ></ion-input>

    <ion-input
      class="ion-margin-top"
      labelPlacement="floating"
      fill="outline"
      label="{{ stateLabel }} *"
      formControlName="state"
      [placeholder]="statePlaceholder"
      [class.ion-invalid]="state?.invalid && state?.touched"
      errorText="{{ requiredFieldError }}"
    ></ion-input>

    <ion-input
      class="ion-margin-top"
      labelPlacement="floating"
      fill="outline"
      type="number"
      label="{{ zipCodeLabel }} *"
      formControlName="zipCode"
      [placeholder]="zipCodePlaceholder"
      [class.ion-invalid]="zipCode?.invalid && zipCode?.touched"
      errorText="Please enter a valid 6-digit zip code."
    ></ion-input>

    <div class="ion-margin-top">
      <ion-label
        class="ion-margin-bottom"
        style="display: block; font-size: 12px; margin-left: 4px; color: var(--ion-color-medium)"
      >
        {{ genderCategoryLabel }}
        <span class="required-star">*</span>
      </ion-label>
      <ion-radio-group formControlName="genderCategory">
        @for (option of genderCategoryOptions; track option.value) {
          <ion-item lines="none">
            <ion-radio [value]="option.value">
              <div style="padding: 5px 0">
                <strong>{{ option.label }}</strong>
                <p style="margin: 0; font-size: 0.9em; color: var(--ion-color-medium)">{{ option.description }}</p>
              </div>
            </ion-radio>
          </ion-item>
        }
      </ion-radio-group>
    </div>

    <div class="ion-margin-top">
      <ion-checkbox formControlName="is24Hours" labelPlacement="end">Open 24 Hours</ion-checkbox>
    </div>

    @if (!is24Hours?.value) {
      <ion-grid class="ion-no-padding ion-margin-top">
        <ion-row>
          <ion-col size="6" class="ion-padding-end">
            <ion-input
              label="Opens At"
              labelPlacement="floating"
              fill="outline"
              type="time"
              formControlName="openTime"
              [class.ion-invalid]="openTime?.invalid && openTime?.touched"
              errorText="{{ requiredFieldError }}"
            ></ion-input>
          </ion-col>
          <ion-col size="6" class="ion-padding-start">
            <ion-input
              label="Closes At"
              labelPlacement="floating"
              fill="outline"
              type="time"
              formControlName="closeTime"
              [class.ion-invalid]="closeTime?.invalid && closeTime?.touched"
              errorText="{{ requiredFieldError }}"
            ></ion-input>
          </ion-col>
        </ion-row>
      </ion-grid>
    }
  </form>
</ion-card>
