<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">home</ion-title>
    </ion-toolbar>
  </ion-header>

  <section id="experience-section" class="ion-padding">
    <div class="section-heading">
      <h2 class="section-title">A Better Experience for Everyone</h2>
      <p class="section-subtitle">
        Our platform is designed to be simple for students and powerful for
        library owners.
      </p>
    </div>

    <div class="cards-container">
      <!-- INFO: Students Card -->
      <ion-card class="info-card ion-padding">
        <ion-card-header>
          <ion-card-title>
            <ion-icon name="person-circle-outline"></ion-icon>
            For Students
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          @for (feature of studentsFeatures; track feature) {
          <div class="feature">
            <ion-icon
              name="checkmark-circle-outline"
              color="success"
              class="icon-checkmark"
            ></ion-icon>
            <div>
              <h3>{{ feature.title }}</h3>
              <p>{{ feature.description }}</p>
            </div>
          </div>
          }
        </ion-card-content>
      </ion-card>

      <!-- INFO: Library Owners Card -->
      <ion-card class="info-card ion-padding">
        <ion-card-header>
          <ion-card-title>
            <ion-icon name="library-outline"></ion-icon>
            For Library Owners
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          @for (feature of libraryFeatures; track feature) {
          <div class="feature">
            <ion-icon
              name="checkmark-circle-outline"
              color="success"
              class="icon-checkmark"
            ></ion-icon>
            <div>
              <h3>{{ feature.title }}</h3>
              <p>{{ feature.description }}</p>
            </div>
          </div>
          }
        </ion-card-content>
      </ion-card>
    </div>
  </section>

  <section id="pricing-section" class="section ion-padding">
    <div class="section-heading">
      <h2 class="section-title">Simple, Transparent Pricing</h2>
      <p class="section-subtitle">
        Choose the plan that's right for you. Start for free.
      </p>
    </div>

    <div class="pricing-container">
      @for (plan of pricingPlans; track plan) {
      <ion-card
        class="pricing-card info-card"
        [ngClass]="{'popular': plan.popular}"
      >
        @if (plan.popular) {
        <div class="badge">MOST POPULAR</div>
        }
        <img [src]="plan.image" alt="Plan Image" class="plan-image" />

        <ion-card-header>
          <ion-card-title>{{ plan.title }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p class="description">{{ plan.description }}</p>

          <p class="price">
            {{ plan.price }} <span class="duration">{{ plan.duration }}</span>
          </p>

          <ion-button
            expand="block"
            class="text-bold"
            [color]="plan.buttonColor"
          >
            {{ plan.buttonText }}
          </ion-button>
        </ion-card-content>
      </ion-card>
      }
    </div>
  </section>
</ion-content>
