<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense"></ion-header>
  <div class="acknowledgement-container">
    <div class="card-content">
      <ion-icon name="checkmark-circle-outline" class="success-icon"></ion-icon>

      <h1>{{ mainHeading }}</h1>
      <p class="thank-you-text" [innerHTML]="thankYouMessage('<strong>' + libraryName + '</strong>')"></p>

      <div class="next-steps-box">
        <h3>{{ nextStepsTitle }}</h3>
        @for (step of nextSteps; track $index) {
          <div class="step-item">
            <div class="step-number">{{ $index + 1 }}</div>
            <div class="step-details">
              <h4>{{ step.title }}</h4>
              <p>{{ step.description }}</p>
            </div>
          </div>
        }
      </div>

      <div class="action-buttons">
        <ion-button (click)="navigateToHome()">
          <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
          {{ homeButtonText }}
        </ion-button>
        <ion-button (click)="navigateToDashboard()" fill="outline">
          <ion-icon slot="start" name="grid-outline"></ion-icon>
          {{ dashboardButtonText }}
        </ion-button>
      </div>

      <p class="footer-note">
        {{ footerText }}
        <a [href]="'mailto:' + supportEmail">{{ supportEmail }}</a>
      </p>
    </div>
  </div>
</ion-content>
