.hero-header {
  background: linear-gradient(135deg, var(--ion-color-primary), var(--ion-color-secondary));
  color: var(--ion-color-primary-contrast);
  text-align: center;
  padding: 3rem 1.5rem 4rem 1.5rem;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  position: relative;

  .hero-icon {
    background: rgba(255, 255, 255, 0.15);
    border-radius: 12px;
    padding: 0.8rem;
    display: inline-block;
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  h1 {
    font-weight: 700;
    margin-top: 0;
  }

  p {
    opacity: 0.9;
    max-width: 600px;
    margin: 0.5rem auto 0 auto;
  }
}

.assignment-card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.5rem;

  .seat-number {
    flex-shrink: 0;
    background: rgba(var(--ion-color-primary-rgb), 0.2);
    color: var(--ion-color-primary);
    border-radius: 12px;
    font-size: 1.5rem;
    font-weight: 700;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .details {
    flex-grow: 1;
  }

  .actions {
    display: flex;
    gap: 0.5rem;
  }
}

.no-assignment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.attendance-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.attendance-header-links {
  order: 1;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: 1rem;
}

.attendance-header-title {
  order: 2;
  width: 100%;
  margin-top: 1rem;
}

@media (min-width: 768px) {
  .attendance-header {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .attendance-header-links {
    order: 2;
    width: auto;
    justify-content: flex-end;
  }

  .attendance-header-title {
    order: 1;
    width: auto;
    margin-top: 0;
  }
}

@media (max-width: 767.98px) {
  .actions {
    width: 100%;
    ion-button {
      width: 50%;
    }
  }
  .no-assignment {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }

  .attendance-links {
    justify-content: flex-start;
    padding-bottom: 0;
    width: 100%;
  }
}
