.info-card {
  border-radius: 0.5rem;
  box-shadow: 0 0 0.25rem color-mix(in srgb, var(--ion-color-dark-shade) 30%, transparent);
}
.info-card:hover {
  box-shadow: 0 0 0.4rem color-mix(in srgb, var(--ion-color-dark-shade) 40%, transparent);
  transition: box-shadow 0.3s ease;
}
.section-heading {
  text-align: center;
  margin-bottom: 2rem;
}
.icon-checkmark {
  font-size: 1.2rem;
  @media screen and (max-width: 768px) {
    font-size: 2rem;
  }
}

.section-title {
  font-weight: bold;
  margin-bottom: 8px;
  color: var(--ion-text-color);
  font-size: 2rem;

  @media screen and (max-width: 768px) {
    font-size: 1.5rem;
  }
}

.section-subtitle {
  font-size: 1rem;
  color: var(--ion-text-color-step-600);
  margin-bottom: 1rem;
}

.no-margin {
  margin: 0;
}

.footer-container {
  position: relative;
  margin-top: auto;
  bottom: 0;
  width: 100%;
}

.form-section-container,
.form-section-navigator {
  position: relative;
  box-sizing: border-box;
  max-width: 900px;
  height: fit-content;
  width: min(calc(100% - 2rem), 900px);
  margin: 1rem auto;
  overflow: hidden;
  border-radius: 0.5rem;
  p {
    margin-top: 0.5rem;
  }
}

.registration-section-card {
  margin: 0;
  padding: 1.5rem;
  color: var(--ion-color-dark-shade);
}
.form-section-navigator {
  display: flex;
  flex-direction: column;
}

.glass-box {
  display: flex;
  gap: 0.3rem;
  border-radius: 0.5rem;
  border: 1px solid;
  padding: 0.5rem;
}

.primary-glass-box {
  background-color: color-mix(in srgb, var(--ion-color-primary) 2%, #fff 2%);
  border-color: var(--ion-color-primary);
  color: var(--ion-color-primary);
}
.secondary-glass-box {
  background-color: color-mix(in srgb, var(--ion-color-secondary) 10%, #fff 10%);
  border-color: var(--ion-color-secondary);
}
.success-glass-box {
  background-color: color-mix(in srgb, var(--ion-color-success) 10%, #fff 10%);
  border-color: var(--ion-color-success);
}
.warning-glass-box {
  background-color: color-mix(in srgb, var(--ion-color-warning) 10%, #fff 10%);
  border-color: var(--ion-color-warning);
}

// FORMS
.form-group {
  margin-bottom: 1.5rem;
}
.form-group label {
  display: block;
  margin-bottom: 0.5rem;
}
.form-group input,
.form-group select,
.form-group textarea {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  box-sizing: border-box;
}
.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
  outline: none;
  // box-shadow: 0 0 0.2rem color-mix(in srgb, var(--ion-color-primary) 40%, transparent);
}
.form-group .error-message {
  color: var(--ion-color-danger);
  font-size: 0.875rem;
  margin-top: 0.25rem;
}
.form-group .success-message {
  color: var(--ion-color-success);
  font-size: 0.875rem;
  margin-top: 0.25rem;
}
