.info-card {
  border-radius: 0.5rem;
  box-shadow: 0 0 0.4rem color-mix(in srgb, var(--ion-color-dark-shade) 30%, transparent);
}
.info-card:hover {
  box-shadow: 0 0 0.75rem color-mix(in srgb, var(--ion-color-dark-shade) 40%, transparent);
  transition: box-shadow 0.3s ease;
}
.section-heading {
  text-align: center;
  margin-bottom: 2rem;
}
.icon-checkmark {
  font-size: 1.2rem;
  @media screen and (max-width: 768px) {
    font-size: 2rem;
  }
}

.section-title {
  font-weight: bold;
  margin-bottom: 8px;
  color: var(--ion-text-color);
  font-size: 2rem;

  @media screen and (max-width: 768px) {
    font-size: 1.5rem;
  }
}

.section-subtitle {
  font-size: 1rem;
  color: var(--ion-text-color-step-600);
  margin-bottom: 24px;
  padding: 0 1rem;
}

.no-margin {
  margin: 0;
}
