.header-bar {
  display: flex;
  justify-content: right;
}

.tagline {
  color: #555;
  padding: 0.5rem;
}

.info-banner {
  background: #fbe9f7;
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  ion-icon {
    font-size: 28px;
    color: #cb42a5;
  }
}

.grid {
  display: grid;

  @media (min-width: 768px) {
    grid-template-columns: 2fr 1fr;
  }
}

.side-cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  > .card {
    flex-grow: 1;
  }
}

.campaign-item {
  border-radius: 10px;
  padding: 14px 16px;
  margin-top: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid transparent;

  p {
    margin: 4px 0;
  }
}

.campaign-blue {
  background: #e4f1ff;
  border-color: #3880ff;
  h4,
  small {
    color: #3880ff;
  }
}
.campaign-green {
  background: #e8fbe8;
  border-color: #2dd36f;
  h4,
  small {
    color: #2dd36f;
  }
}
.campaign-orange {
  background: #fff1e4;
  border-color: #ffc409;
  h4,
  small {
    color: #ffc409;
  }
}

.price-toggle {
  display: flex;
  align-items: center;
  gap: 10px;
}

.yellow {
  background: #fff7e3;
}

.feature-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;

  li {
    display: flex;
    align-items: center;
    gap: 14px;
  }

  .icon-box {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    ion-icon {
      font-size: 22px;
    }
  }
  span {
    font-weight: 500;
  }
}
