<div class="background-image"></div>
<div class="overlay-content ion-padding">
  <h1>
    Happier
    <span class="highlight">Students.</span>
    <br />
    <span class="highlight">Higher</span>
    Revenue.
  </h1>
  <p>Ditch the dusty registers. Embrace a smarter, digital system for managing your study rooms.</p>

  <div class="button-group">
    <ion-button expand="block" fill="solid" routerLink="/browse-libraries" color="dark" class="student-btn">
      For Students: Find a Room
    </ion-button>
    <ion-button expand="block" fill="solid" routerLink="/register-library" color="primary" class="owner-btn">
      For Owners: Claim 6-Month Free Trial
    </ion-button>
  </div>
</div>
