<ion-card class="library-card">
  <div class="badge-container">
    <div class="badge" [ngClass]="getLibraryTypeClass">
      {{ library.type }}
    </div>
    <div class="badge" [ngClass]="library.isFull ? 'full' : 'available'">
      <span class="dot"></span>
      {{ library.isFull ? 'Full' : 'Available' }}
    </div>
  </div>

  <ion-card-header>
    <ion-card-title>
      {{ library.name }}
    </ion-card-title>
    <ion-card-subtitle class="ion-flex ion-align-items-center">
      <ion-icon color="warning" name="locate-outline"></ion-icon>
      <span>{{ library.address }}</span>
    </ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <div class="availability">
      <ion-icon name="people-outline"></ion-icon>
      {{ library.availableSeats }} / {{ library.totalSeats }} seats available
    </div>
  </ion-card-content>

  <div class="card-footer">
    <ion-button color="medium" routerLink="/library-details">
      <span>View</span>
      <ion-icon slot="start" name="eye-outline"></ion-icon>
    </ion-button>
    <ion-button [color]="actionColor" (click)="onActionClick()">
      <span>{{ actionLabel }}</span>
      <ion-icon slot="end" [name]="library.isFull ? 'notifications-outline' : 'arrow-forward'"></ion-icon>
    </ion-button>
  </div>
</ion-card>
