.library-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 0.5rem;
  min-width: max(24%, 230px);
  margin: 0;

  ion-card-header {
    padding-top: 0;
  }
  ion-card-title {
    margin: 0.5rem 0;
    font-size: 1.2rem;
  }
  ion-card-content {
    flex-grow: 1;
    display: flex;
    align-items: flex-start;
    font-size: 0.9rem;
  }

  .card-footer {
    margin-top: auto;
    padding: 0.5rem 1rem 1rem;
  }

  @media screen and (max-width: 768px) {
    min-width: none;
    width: 100%;
    ion-card-title {
      margin: 0 0;
    }
  }
}
ion-card-subtitle {
  margin-top: 0.5rem;
}
ion-card-subtitle,
.availability {
  display: inline-flex;
  width: 100%;
  font-size: 1rem;
  flex-wrap: wrap;
  ion-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.5rem;
    font-size: 1rem;
  }
  span {
    display: inline-flex;
    width: calc(100% - 1.5rem);
    padding-bottom: 4px;
  }
}
.badge-container {
  display: inline-flex;
  justify-content: flex-end;
  gap: 0.4rem;
  padding: 0.25rem;
}
.badge {
  display: inline-flex;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 500;
  padding: 0.3rem 0.6rem;
  border-radius: 2rem;

  &.full {
    background-color: rgba(var(--ion-color-danger-rgb), 0.15);
    color: var(--ion-color-danger);
  }

  &.available {
    background-color: rgba(var(--ion-color-success-rgb), 0.15);
    color: var(--ion-color-success);
  }

  .dot {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    margin-right: 0.4rem;
    background-color: currentColor;
  }
}

.card-footer {
  display: flex;
  gap: 8px;

  ion-button {
    flex: 1;
    margin: 0;
    span {
      padding-top: 2px;
    }
  }
}
