ion-card.profile-card {
  background: var(--ion-color-light);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.upload-box {
  border: 2px dashed var(--ion-color-medium);
  border-radius: 8px;
  text-align: center;
  padding: 20px;
  margin-top: 15px;
  color: var(--ion-color-medium);

  ion-icon {
    font-size: 32px;
    color: var(--ion-color-primary);
  }

  input[type='file'] {
    display: none;
  }
}

.time-picker {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;

  ion-item {
    flex: 1;
    margin: 0 5px;
  }
}

ion-radio-group {
  display: flex;
  // background-color: lime;
  gap: 1rem;
  text-align: left;
  // justify-content: space-between;

  ion-radio {
    margin-right: 1.5rem;
  }
  .radio-wrapper {
    padding-right: 1rem;
  }
}
:host(.radio-label-placement-end) .label-text-wrapper {
  margin-left: 0.5rem;
}
