<ion-card class="registration-section-card">
  <div class="section-header">
    <h4>{{ uploadAreaTitle }}</h4>
    <ion-note color="medium">{{ libraryPhotosArray.length }} / {{ maxImages }} Images</ion-note>
  </div>
  <p>{{ photosSectionDescription }}</p>
  <!-- Warning Glass Box -->
  @if (imagesArray.invalid) {
    <div class="ion-padding-start ion-padding-end glass-box warning-glass-box ion-margin-bottom">
      <ion-icon name="warning-outline" color="warning"></ion-icon>
      <ion-note color="warning">
        {{ completionWarning }}
      </ion-note>
    </div>
  }

  <!-- Main Content Form -->
  <form>
    <!-- File Upload Area -->

    <input
      type="file"
      hidden
      multiple
      (change)="onFileSelected($event)"
      #fileInput
      accept="image/png, image/jpeg, image/webp"
    />

    @if (libraryPhotosArray.length < maxImages) {
      <div class="upload-area" (click)="triggerFileUpload(fileInput)">
        <ion-icon name="image-outline"></ion-icon>
        <p>{{ uploadAreaHint }}</p>
        <ion-note color="medium">{{ uploadAreaConstraints }}</ion-note>
      </div>
    }

    @if (libraryPhotosArray.controls.length > 0) {
      <ion-grid class="preview-grid ion-margin-top">
        <ion-row cdkDropList cdkDropListOrientation="mixed" (cdkDropListDropped)="drop($event)">
          @for (photoControl of libraryPhotosArray.controls; track photoControl) {
            <ion-col size="12" size-md="6" size-lg="4" cdkDrag>
              <div class="image-card" [formGroup]="asFormGroup(photoControl)">
                <div class="image-preview-wrapper">
                  <ion-img [src]="photoControl.get('previewUrl')?.value"></ion-img>
                  @if (
                    photoControl.get('uploadProgress')?.value > 0 && photoControl.get('uploadProgress')?.value < 100
                  ) {
                    <div class="progress-overlay">
                      <ion-progress-bar
                        [value]="(photoControl.get('uploadProgress')?.value || 0) / 100"
                      ></ion-progress-bar>
                      <div class="progress-text">{{ photoControl.get('uploadProgress')?.value }}%</div>
                    </div>
                  }
                  <ion-fab vertical="top" horizontal="end" slot="fixed">
                    <ion-fab-button (click)="removePhoto($index)" color="danger" size="small">
                      <ion-icon name="close" color="light"></ion-icon>
                    </ion-fab-button>
                  </ion-fab>
                </div>

                <div class="card-content">
                  <div class="drag-handle" cdkDragHandle>
                    <ion-icon name="menu-outline" size="large"></ion-icon>
                  </div>
                  <ion-input
                    class="input-caption"
                    label="Caption"
                    labelPlacement="floating"
                    fill="outline"
                    placeholder="Enter caption..."
                    formControlName="caption"
                    maxlength="50"
                  ></ion-input>
                </div>
              </div>
            </ion-col>
          }
        </ion-row>
      </ion-grid>
    }
  </form>

  <div class="glass-box primary-glass-box ion-margin-top ion-flex-column ion-padding">
    <h4>{{ tipsTitle }}</h4>
    <ul class="tips-list">
      @for (tip of photoTips; track tip) {
        <li>{{ tip }}</li>
      }
    </ul>
  </div>
</ion-card>
