.upload-area {
  border: 2px dashed var(--ion-color-medium);
  border-radius: 16px;
  padding: 2.5rem 1.5rem;
  margin: 1rem auto;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background-color: var(--ion-color-light-shade);

  ion-icon {
    font-size: 48px;
    color: var(--ion-color-primary);
    margin-bottom: 0.5rem;
  }

  p {
    margin: 0;
    font-weight: 500;
  }

  ion-note {
    display: block;
    margin-top: 0.5rem;
  }

  &:hover {
    border-color: var(--ion-color-primary);
    background-color: #e9efff10;
  }
}

.primary-glass-box {
  padding: 1rem 0.5rem;
  h4 {
    margin: 0 0 0.5rem 0.5rem;
    font-size: 1rem;
  }
}
.tips-list {
  margin: 0;
  li {
    margin-bottom: 0.5rem;
    font-size: 0.85rem;
  }
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem;
}
p {
  margin: 0 0.5rem;
}

.preview-grid {
  padding: 0;
}

.image-preview-wrapper {
  position: relative;
  overflow: hidden;
  margin-bottom: 1rem;
  border: 1px solid var(--ion-color-light-shade);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);

  ion-img {
    border-radius: 0.5rem;
    width: 100%;
    height: 150px; // Or use aspect-ratio
    object-fit: cover;
  }

  ion-fab-button {
    // Positioning the small delete button
    width: 24px;
    height: 24px;
    --box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
}

.fab-vertical-top {
  top: 4px;
}

.fab-horizontal-end {
  right: 4px;
}
.image-card {
  margin-bottom: 16px;
  border-radius: 12px;
  border: 1px solid var(--ion-color-light-shade);
  overflow: hidden;

  .card-content {
    margin: 0.5rem auto;
    display: flex;
    align-items: center;
    gap: 4px;

    ion-input.input-caption {
      position: relative;
      flex: 1;
      height: 32px !important;
    }

    .drag-handle {
      cursor: move;
      // color: var(--ion-color-medium);
      padding: 4px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:active {
        color: var(--ion-color-primary);
      }
    }
  }
}

// CDK Drag & Drop Styles
.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 12px;
  max-width: 80% !important;
  box-shadow:
    0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
  opacity: 0.9;
  list-style: none;
}

.cdk-drag-placeholder {
  // max-width: 80% !important;
  opacity: 0.3;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.preview-grid ion-row.cdk-drop-list-dragging .image-card:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
