<ion-header>
  <ion-toolbar>
    <ion-title>Admin Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <ion-item>
      <ion-input label="Email" labelPlacement="floating" formControlName="email" type="email" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-input labelPlacement="floating" type="password" label="Password" formControlName="password" required>
        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
      </ion-input>
    </ion-item>
    <ion-button expand="full" type="submit" [disabled]="!loginForm.valid">Login</ion-button>
  </form>
</ion-content>
