.select-prompt {
  text-align: center;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 0.25rem;

  ion-icon {
    font-size: 2rem;
    color: var(--ion-color-primary);
    margin-bottom: 0.5rem;
  }
  ion-note {
    font-size: 1rem;
  }
}
